<div class = "container">
  <%= render 'layouts/navbar' %>
</div>

<div class = "container">
	<h1> Log in to your account </h1>

	<%= form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
	   	<%= f.text_field :email, placeholder: 'Email'%><br />
	   	<%= f.password_field :password, placeholder: 'Password' %><br />
	   	<br>
	    <%= f.submit "Log-in" %>
	<% end %>
	<br />

	<p>New user? Sign up here:</p>
	<%= link_to 'Sign up', new_user_path %>
</div>
