<div class = "container">
  <%= render 'layouts/navbar' %>
</div>

<div class="container">
	<div class = "edit_container">
		<h1>Edit User</h1>
	<%= form_for @user do |f| %>
	<div class = "user_email">
		<%= f.text_field :email, placeholder: "Email" %>
	</div>
	<div class = "user_bio">
		<%= f.text_field :bio, placeholder: "Short Bio" %>
	</div>
	<div class = "user_avatar">
		<%= f.file_field :avatar %>
	</div>
	<div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  <br/>

  <div class ="nav_links">
		<%= link_to 'Back |', post_path %>
		<%= link_to 'Home', posts_path %>
	</div>
	<div class ="log_in">
			<% if current_user != nil %>
			Signed in as: <%= current_user.email %>
			<% end %>
	</div>

</div>
