<h1>Photos#new</h1>
	<p>Find me in app/views/photos/new.html.erb</p>
	
	<%= form_for [@post, @photo] do |f| %>
	
	  <div class="field">
	    <%= f.label :photo_date %><br />
	    <%= f.date_field :photo_date %>
	  </div>
	
	  <div class="field">
	    <%= f.label :image %><br />
	    <%= f.file_field :image %><br />
	  </div>
		<br />
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>