<div class = "posts_form">
<%= form_for @post do |f| %>

	<div class = "post_title">
		<%= f.text_field :title, placeholder: "Title"%>
	</div>
	<div class = "post_category">
		<%= f.text_field :category, placeholder: "Category" %>
	</div>
	<div class = "post_teaser">
		<%= f.text_field :teaser, placeholder: "Teaser" %>
	</div>
	<div class = "post_content">
		<%= f.text_area :content, placeholder: "Content" %>
	</div>
	<div class="actions">
    <%= f.submit %>
  </div>
  <br/>

 <% end %>
</div>

