<%= form_for @post do |f| %>

	<div class = "post_title">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class = "post_category">
		<%= f.label :category %>
		<%= f.text_field :category %>
	</div>
	<div class = "post_teaser">
		<%= f.label :teaser %>
		<%= f.text_field :teaser %>
	</div>
	<div class = "post_content">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="actions">
    <%= f.submit %>
  </div>

 <% end %>

