<div class = "container">
  <%= render 'layouts/navbar' %>
</div>

<div class="container">
	<div class = "edit_container">
		<h1>Edit Post</h1>

		<%= render 'form' %>
	</div>
</div>

<div class="container">
	  <div class ="nav_links">
			<%= link_to 'Back |', post_path %>
			<%= link_to 'Home', posts_path %>
		</div>
	 	<div class ="log_in">
	    <% if current_user != nil %>
	      Signed in as: <%= current_user.email %>
	    <% end %>
	 </div>
</div>

