<div class="container">
  <%= render 'layouts/navbar' %>
</div>
<br />

<br />
<hr />
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Teaser</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.category %></td>
          <td><%= post.teaser %></td>
          <td><%= post.content %></td>
          <td><%= link_to 'Show', post %></td>
          <% if current_user != nil && current_user.is_admin == true %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


<%= link_to 'Create a new post', new_post_path %>

<br />
<hr />
<%= params.inspect %>


